VITE_SUPABASE_URL=https://mjazbfjroertsgflbeyx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1qYXpiZmpyb2VydHNnZmxiZXl4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM2MzQzMTAsImV4cCI6MjA3OTIxMDMxMH0.dvkyqIfhBqiQYWv0fkOGhm2UWWGiRlV57IFxprwgkRg